.contact-container {
    display: flex;
    align-items: flex-end;
    padding: 10vh 0;
}

.contact-container div {
    flex: 1 1 0;
    padding: 0 2.5vw;
}

.contact-container div:nth-child(2) {
    text-align: center;
}

.contact-description {
    color: var(--dark-gray);
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}

.contact-dot {
    color: var(--red);
    font-size: 8rem;
}

.contact-info {
    color: var(--light-gray);
    font-size: 2.2rem;
    font-weight: 400;
}

.contact-info a {
    color: var(--red);
    text-decoration: none;
}

.contact-networks {
    margin-bottom: 80px;
}

.contact-networks > * {
    font-size: 4rem;
    margin-right: 2vw;
    margin-top: 10px;
    text-decoration: none;
    color: var(--black);
}

.contact-title {
    color: var(--black);
    font-family: Righteous;
    font-size: var(--xxl-size);
}

.contact-subtitle {
    color: var(--red);
    font-family: Righteous;
    font-size: var(--l-size);
    margin: 0;
}

@media screen and (max-width: 770px) {
    .contact-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-top: 0;
        padding-bottom: 30px;
    }
    
    .contact-container div {
        flex: 0 1 0;
        padding: 0;
    }
    
    .contact-container div:nth-child(2) {
        text-align: center;
    }
    
    .contact-description {
        font-size: 1.8rem;
    }
    
    .contact-info {
        font-size: 1.8rem;
    }
    
    .contact-networks {
        margin-bottom: 20px;
    }
    
    .contact-networks > * {
        margin-right: 10vw;
    }
    
    .contact-title {
        font-size: var(--xl-size);
        margin-top: 0;
    }
    
    .contact-subtitle {
        font-size: var(--l-size);
    }
}