.project-container {
    display: flex;
  flex-wrap: wrap;
}

.project-container > * {
    flex: 1 0 33%;
    text-align: center;
}

.project-dot{
    color: var(--red);
    font-size: 8rem;
}

.project-title{
    color: var(--black);
    font-family: Righteous;
    font-size: var(--xl-size);
    font-weight: 400;
    text-align: left;
}

.project-subtitle {
    color: var(--black);
    font-family: Righteous;
    font-size: var(--xl-size);
    font-weight: 400;
    text-align: left;
    margin: 0;
}

@media screen and (max-width: 770px) {
    .project-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .project-container>* {
        flex: 0 1 0;
    }

    .project-title {
        font-size: var(--xl-size);
        line-height: 0.5;
        margin-bottom: var(--l-size);
    }
    .project-subtitle {
        font-size: var(--l-size);
        line-height: 0.5;
        margin: 0;
        margin-bottom: var(--l-size);
    }
}