.workItem-container {
    margin-bottom: 30px;
}

.workItem-container a {
    text-decoration: none;
}
.workItem-name {
    color: var(--black);
    font-size: var(--m-size);
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.workItem-image {
    border-radius: 5%;
    width: 90%;
}

.workItem-info {
    color: var(--dark-gray);
    font-family: roboto mono;
    font-size: var(--s-size);
    margin-top: 5px;

}

@media screen and (max-width: 770px) {
    .workItem-image {
        border-radius: 5%;
        width: 50vw;
    }
}