.workItem-container {
    margin-bottom: 30px;
}

.workItem-container a {
    text-decoration: none;
}
.workItem-name {
    color: var(--black);
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.workItem-image {
    border-radius: 2%;
    width: 98%;
}

.workItem-info {
    color: var(--dark-gray);
    font-family: roboto mono;
    font-size: var(--s-size);
    margin-top: 10px;

}

@media screen and (max-width: 770px) {
    .workItem-name {
        font-size: 2rem;
        font-weight: 600;
    }
}