html{
    font-size: 62.5%;
}

body{
    background-image: radial-gradient(#F0EDEC 20%, transparent 20%),
    radial-gradient(#F0EDEC 20%, transparent 20%);
    background-color: #f7f7f7;
    background-position: 0 0,
    60px 60px;
    background-size: 8px 8px;
    font-family: roboto;
    font-size: var(--m-size);
    height: 200px;
    width: 100%;
}

button {
    cursor: pointer;
}

button:disabled{
    cursor: default;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.container {
    padding: 0 4vw;
}